<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.close()"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title" id="modalPay">Agregar número a Boleta</b></h5>
</div>
<div class="modal-body">
    <form id="frm-add-pago" ng-submit="ctrl.addNumber()">
        <div class="form-group">
            <label>Ingrese número</label>
            <input class="form-control" type="text" ng-model="ctrl.params.numero">
        </div>
        <hr>
        <div class="text-right">
            <button type="button" class="btn btn-sm btn-default btn-close" ng-click="ctrl.close()">Cancelar</button>
            <button class="btn btn-sm btn-warning" id="btn-add-pay"><i class="fa fa-check"></i> Guardar</button>
        </div>
    </form>
</div>