<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default panel-body">
            <form class="form-inline col-md-12">
                <div class="control-group form-inline">
                    <div class="form-group form-group-sm input-group">
                        <select class="filter-cbo form-control" ng-model="empresa.seguimiento.params.selectedTipofecha" ng-options="tipofecha as tipofecha.name for tipofecha in empresa.seguimiento.extras.tipoFecha track by tipofecha.value" ng-change="empresa.seguimiento.methods.getData()"></select>
                    </div>
                    <div class="form-group form-group-sm input-group">
                        <input ng-model="empresa.seguimiento.params.fecha_reserva1" ng-change="empresa.seguimiento.methods.getData()" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="empresa.seguimiento.auxs.open1" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly="" ng-click="empresa.seguimiento.methods.openCalendar1()" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm  btn-default" ng-click="empresa.seguimiento.methods.openCalendar1()">
                                <i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                    <div class="form-group form-group-sm input-group">
                        <input ng-model="empresa.seguimiento.params.fecha_reserva2" ng-change="empresa.seguimiento.methods.getData()" type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" is-open="empresa.seguimiento.auxs.open2" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" readonly="" ng-click="empresa.seguimiento.methods.openCalendar2()" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-sm  btn-default" ng-click="empresa.seguimiento.methods.openCalendar2()">
                                <i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <select class="filter-cbo form-control" ng-model="empresa.seguimiento.params.selectedCRM" ng-options="crm as crm.nombre for crm in empresa.seguimiento.extras.listCrm track by crm.id" ng-change="empresa.seguimiento.methods.getData()"></select>
                    </div>
                    <div class="form-group form-group-sm">
                        <button ng-disabled="validateLoading" ng-click="empresa.seguimiento.methods.getData()" type="button" aria-label="FILTRAR" class="btn btn-sm btn-default btnRefreshData hint--top"><i class="fa fa-refresh fa-fw fa-lg"></i></button>
                    </div>
                    <div class="form-group form-group-sm" ng-if="empresa.seguimiento.roles.check(61)">
                        <button ng-disabled="validateLoading" ng-click="empresa.seguimiento.methods.newNota()" type="button" aria-label="Nota" class="btn btn-sm btn-default btnRefreshData hint--top"><i class="fa fa-plus fa-fw fa-lg"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-striped table-hover table-condensed mb90">
            <thead>
                <tr>
                    <th style="text-align: center; width:10%;">Tipo</th>
                    <th style="text-align: center; width:55%;">Nota</th>
                    <th style="text-align: center; width:10%;">Programada</th>
                    <th style="text-align: center; width:10%;">Creado</th>
                    <th style="text-align: center; width:15%;">Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in empresa.seguimiento.data">
                    <td style="text-align: center;">{{ r.crm_tipo }}</td>
                    <td>{{ r.nota }}</td>
                    <td style="text-align: center;">{{ r.fecha }}</td>
                    <td style="text-align: center;">{{ r.fecha_creacion }}</td>
                    <td>{{ r.empleado }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>