<div><!-- ng-controller="CorrespondenciaCtrl"-->
	<div class="well well-sm mt20 mb0">
		<div class="row">
			<form method="post" id="frm-correspondencia-buscar" class="form-inline col-sm-12">
				<input type="hidden" ng-model="params.empresa_id">
				<div class="form-group form-group-sm">
					<select name="anio" id="anio_cor" class="form-control" ng-model="params.anio" ng-options="y for y in years" ng-change="methods.searchFromForm()">
					</select>
				</div>
				<div class="form-group form-group-sm">
					<select name="mes" class="form-control cbo_mes" ng-model="params.mes" ng-options="(key*1) as value for (key,value) in months" ng-change="methods.searchFromForm()">
					</select>
				</div>
				<div class="form-group form-group-sm">
					<select id="ciclo" name="ciclo" class="form-control" ng-model="params.ciclo"  ng-change="methods.searchFromForm()">
						<option value="QUINCENAL">QUINCENAL</option>
						<option value="MENSUAL">MENSUAL</option>
					</select>
				</div>
				<div class="form-group form-group-sm">
					<input type="text" class="form-control filter-asunto" placeholder="RUC R. Social Doc. Num." ng-model="params.filter" ng-keyup="$event.keyCode == 13 && methods.searchFromForm()">
				</div>
				<div class="form-group" ng-if="roles.check(110)">
					<input type="button" value="Enviar Comprobantes a Sunat" id="btn-nuevo" title="Enviar Comprobantes" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-correspondencia" ng-click="methods.sendsunat()">
				</div>
				<div class="form-group" ng-if="roles.check(109)">
					<button type="button" id="btn-export" aria-label="Exportar a Excel" class="btn btn-success btn-sm hint--bottom" ng-click="methods.export()"> <i class="fa fa-download fa-lg"></i></button>
				</div>
				<div class="form-group">
	                <button ng-click="methods.searchFromForm()" class="btn btn-sm btn-default btnRefreshData hint--bottom" aria-label="Actualizar Lista" id="btnRefreshCorrespondencias"><i class="fa fa-refresh fa-fw fa-lg"></i></button>
				</div>
				<div class="form-group"  ng-if="!loading">
					<i class="fa fa-info-circle fa-lg"></i> siguiente numero a facturar : <b>{{nextnumero}}</b>
				</div>
			</form>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-condensed mb90" id="tbl-correspondencia">
			<thead>
				<tr>
					<th style="width:23%">Empresa</th>
					<th style="width: 7%" class="text-center">Ruc</th>
					<th style="width: 10%" class="text-center">Estado</th>
					<th style="width: 9%" class="text-center">Plan</th>
					<th style="width: 3%" class="text-center">Ciclo</th>
					<th style="width: 10%" class="text-center">Comprobante</th>
					<th style="width: 10%" class="text-center">Numero</th>
					<!--<th style="width: 8%" class="text-center">F. Facturación Prox.</th>-->
					<th style="width: 9%" class="text-center">IGV</th>
					<th style="width: 9%" class="text-center">Precio</th>
					<th style="width:10%" class="text-center">Total</th>
				</tr>
			</thead>
			<tbody id="tbody-factura" style="font-size: 95%;">
				<tr>
					<td colspan="10" ng-if="loading"><i class="fa fa-refresh fa-spin fa-fw"></i> Cargando...</td>
				</tr>

				<tr ng-repeat="row in data" ng-if="!loading && ( params.filter == '' || (row.empresa_nombre.toUpperCase()+row['numero'].toUpperCase()+row.empresa_ruc.toUpperCase()).includes(params.filter.toUpperCase()) )" >
					<td>
						<b class="emp"><a ng-href="empresa/{{ row.id }}/facturacion" class="push-url">{{row.empresa_nombre}}</a></b>
						<div class="title-extra-info">
							<small ng-if="row['comprobante'] === 'FACTURA'" class="empleado">
                                <p ng-if="row['su_state'] === 'S'" class="text-success mb0">
                                    <i class="fa fa-check-circle"></i> {{ row['su_info'] }}
                                    - <i ng-if="(row['mail_send']*1) > 0" class="fa fa-send fa-lg" title="Factura enviada a su correo"></i>
                                </p>
                                <p ng-if="row['su_state'] === 'X'" class="mb0 text-danger">
                                	<i class="fa fa-warning"></i> {{ row['su_info'] + " - " + row['numero'] }}
                                </p>
                           	</small>
							<small ng-if="row['comprobante'] === 'BOLETA' " class="empleado">
                                <p class="mb0 mute">Boleta nro: {{ row['numero'] }} </p>
                           	</small>
						</div>
					</td>
					<td class="text-center">{{row.empresa_ruc}}</td>
    				<td><div class="text-center" ng-bind-html="row.estado | to_trusted" /></div></td>
					<td class="text-center wpn"><small>{{row.nombre}}</small></td>
					<td class="text-center"><small>{{ row.preferencia_facturacion.substring(0,1) }}</small></td>
					<td class="text-center">{{row.comprobante}}</td>
					<td class="text-center">{{row.numero}}</td>
					<!--<td class="text-center">{{row.siguiente_fecha_facturacion}}</td>-->
					<td class="text-right">{{ row.precio - ( row.precio / 1.18 ) | number:2 }}</td>
					<td class="text-right">{{ row.precio / 1.18 | number:2 }}</td>
					<td class="text-right">{{ row.precio | number:2}}</td>
				</tr>
				<tr ng-show="!loading" style="font-size: 120%; font-weight: bolder;">
					<td class="text-right" colspan="10">TOTAL</td>
					<td class="text-right">{{data|sumByKey:'precio'|number:2}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>