<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.close()">
		<span aria-hidden="true">×</span>
	</button>
	<h4 class="modal-title" id="modalBank">CUENTA BANCARIA - BANCO DE CRÉDITO DEL PERÚ</h4>
</div>
<div class="modal-body">
	<p>
		<strong>Titular : </strong>Centros Virtuales del Perú<br>
		<strong>Soles : </strong>194-2009470-0-76
	</p>
	<p>
		<strong>Código Interbancario : </strong>00219400200947007690 <br>
		<strong>CODIDO PARA REALIZAR SUS DEPÓSITOS EN AGENTES BCP. 06335</strong>
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" ng-click="$ctrl.close()"><i class="fa fa-times"></i> Cerrar</button>
</div>